/target

target/*
target

certs
certs/*


logs/*
logs
*.log


data
data/*

Cargo.lock

ai
ai/*

worker_storage
worker_storage/*

cargotree.log
*.log

memories
memories/*

grpc.reflection.v1alpha

_dev
_dev/*

target-worker-refactor-check
target-worker-refactor-check/*

docker-target
docker-target/*

runtime
runtime/*

roadmaps
roadmaps/*